/* HTML PAGE  */
.page {
  display: flex;
  background-color: #a7cce9;
  width: 100%;
  /* border: black solid 1px; */
  height: auto;
}
/* LEFT AND RIGHT DIV  */
.cv-page,
.cv-page2 {
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 40px 100px 40px 100px;
  background-color: #a7cce9;

  color: black;
  width: 100vh;
  /* border: black solid 1px; */
}
/* CV NAME AND INFO DIV  */
.icon-back {
  position: relative;
  right: 50px;
}
.icon-back:hover {
  color: #04aa6d;
}
.cv-name {
  font-size: 50px;
  color: black;
}
.cv-header h4 {
  font-size: 30px;
}
/* linked in button  */
.linkage {
  text-decoration: none;
  color: black;
  /* border: black solid 1px; */
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

/* TITLES ON CV  */
.titles {
  color: black;
  font-size: 1rem;
}

/* flex box  */
.cv-header,
.cv-profile,
.cv-experience,
.cv-education,
.cv-life {
  display: flex;
  flex-direction: column;
}

/* sub-titles */
h5 {
  color: #04aa6d;
}
/* text size  */
p,
li {
  font-size: 12px;
}

/* SKILLS TABLE  */
#skills tr:nth-child(even) {
  background-color: #f2f2f2;
}
#skills td {
  padding: 5px;
  font-size: 12px;
}
#skills th {
  padding: 10px;
  /* text-align: center; */
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
}

table {
  /* transform: scale(0.8); */
  float: left;
  /* padding: 50px; */
  border: solid black 1px;
}

/* MEDIA QUERIES */

/* MOBILE  */

@media screen and (max-width: 480px) {
  .page {
    width: 100vh;
    display: flex;
    flex-direction: column;
    /* border: black solid 1px; */
  }
  .cv-page,
  .cv-page2 {
    width: auto;
    padding: 20px 50px 40px 50px;
  }

  /* CV NAME AND INFO DIV  */
  .icon-back {
    position: relative;
    right: 10px;
  }
  .icon-back:hover {
    color: #04aa6d;
  }
  .cv-name {
    font-size: 50px;
    color: black;
  }
  .cv-header {
    align-items: center;
  }
  .cv-profile,
  .cv-experience,
  p,
  li {
    font-size: 1.5rem;
  }
  .cv-skills {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
}

/* MOBILE HORIZONTAL  */

@media only screen and (max-width: 865px) and (orientation: landscape) {
  .page {
    /* width: 100vh; */
    display: flex;
    flex-direction: column;
    /* border: black solid 1px; */
  }
  .cv-page,
  .cv-page2 {
    transform: scale(0.9);
    width: auto;
    padding: 20px 50px 40px 50px;
  }
}

/* IPAD  verticle */
@media screen and (max-width: 852px) {
  .page {
    width: 100vh;
    display: flex;
    flex-direction: column;
    /* border: black solid 1px; */
  }
  .cv-page,
  .cv-page2 {
    width: auto;
    padding: 20px 50px 40px 50px;
  }

  /* CV NAME AND INFO DIV  */
  .icon-back {
    position: relative;
    right: 10px;
  }
  .icon-back:hover {
    color: #04aa6d;
  }
  .cv-name {
    font-size: 50px;
    color: black;
  }
  .cv-header {
    align-items: center;
  }
  .cv-profile,
  .cv-experience,
  p,
  li {
    font-size: 1.5rem;
  }
  .cv-skills {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
}

/* ipa horizontal and laptops/small screens */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .page {
    display: flex;
    flex-direction: column;
    /* border: black solid 1px; */
    align-items: center;
    /* transform: scale(1.1); */
  }
  .cv-page {
    width: 100vh;
    padding: 20px 0px 20px 0px;
  }
  .cv-page2 {
    width: 100vh;
    padding: 10px 0px 20px 0px;
  }

  /* CV NAME AND INFO DIV  */
  .icon-back {
    position: relative;
    right: 10px;
  }
  .icon-back:hover {
    color: #04aa6d;
  }
  .cv-name {
    font-size: 50px;
    color: black;
  }
  .cv-header {
    align-items: center;
  }
  .cv-profile,
  .cv-experience,
  p,
  li {
    font-size: 1.5rem;
  }
  .cv-skills {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
}
